{% extends "GameScoreBundle::layout.html.twig" %}


{% block title %}
    Editeur : [{{ editor.getId() }}] - {{ parent() }}
{% endblock %}

{% block rightside %}
    Editeurs populaires :
{% endblock %}

{% block mainsection %}
    <h2>Editeur : {{ editor.name }}</h2>
    <p>...</p>

    <p>
        <a href="{{ path('game_score_editor_update', {'id':editor.id}) }}">Maj</a>
    </p>
{% endblock %}