{% extends "GameScoreBundle::general.layout.html.twig" %}

{% block title %}
    Welcome - {{ parent() }}
{% endblock %}

{% block mainsection %}
    <div class="row">
        <div class="col-md-12">
            <!-- Main jumbotron for a primary marketing message or call to action -->
            <div class="jumbotron">
                <div class="container">
                    <h1>Bienvenue sur GameScore</h1>
                    <p>Ici vous pourrez gérer votre collection de jeux, mais aussi et surtout les parties : Qui a joué, quand, ou... Quels étaient les scores.
                    Des stats permettront de retrouver les meilleurs scores, les moyennes, etc. Vous aurez également accès aux éditeurs et aux
                    auteurs.</p>
                    <p>Les prochaines évolutions prévues toucheront les images, les calculs, et la possibilité de créer des tables de jeu <=> Des invitations.</p>
                    <p><a class="btn btn-primary btn-lg" href="{{ path('game_score_game_collection', {page: 'a'}) }}" role="button">C'est parti &raquo;</a></p>
                    {% if user %}
                        <p>{{ user.username }}
                            <br/>
                            {% for role in user.roles %}
                                {{ role }}
                            {% endfor %}
                        </p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            sider
        </div>
        <section class="col-md-8">
            section
        </section>
    </div>

{% endblock %}

