{% extends "GameScoreBundle::layout.html.twig" %}


{% block title %}
    Welcome - {{ parent() }}
{% endblock %}

{% block gamescore_body %}
    <p>This is home</p>
    {% if user %}
        <p>{{ user.username }}
            <br />
            {% for role in user.roles %}
                {{ role }}
            {% endfor %}
        </p>
    {% endif %}
{% endblock %}