{% extends "::layout.html.twig" %}

{% block title %}
    {{ 'form'|trans|capitalize }} {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        <section class="col-md-8 col-md-offset-2">
            <label class="label label-xs label-gamescore-default">
                {% block minilabel %}{% endblock %}
            </label>
            <div class="well bs-component">
                <form class="form-horizontal">
                    <fieldset>
                        <legend>{{ 'form'|trans|capitalize }} : {% block blocktitle %}{% endblock %}</legend>
                        {% block blockcontent %}{% endblock %}
                    </fieldset>
                </form>
            </div>
            {% block extrainfo %}{% endblock %}
        </section>
    </div>
{% endblock %}
