{% extends "::layout.html.twig" %}

{% block title %}
    Games @ {{ parent() }}
{% endblock %}

{% block content %}
    <div class="container">
        {% block mainsection %}
        {% endblock %}
    </div>
{% endblock %}

