{% extends "::layout.html.twig" %}

{% block title %}
    Games @ {{ parent() }} %}
{% endblock %}


{% block content %}
    <div class="container">
        {% block firstrow %}
        {% endblock %}
        <div class="row">
            <div class="col-md-4">
                {% block rightside %}
                {% endblock %}
            </div>
            <section class="col-md-8">
                {% block mainsection %}
                {% endblock %}
            </section>
        </div>
    </div>

{% endblock %}