{% extends "::layout.html.twig" %}

{% block title %}
    {{ 'card'|trans|capitalize }} {{ parent() }}
{% endblock %}

{% block content %}

    <div class="container">
        <section class="col-md-8 col-md-offset-2">

            <label class="label label-xs label-gamescore-default">
                {% block minilabel %}{% endblock %}
            </label>

            <div class="list-group">
                <a href="#" class="list-group-item active">
                    <h4 class="list-group-item-heading">
                        {% block blocktitle %}{% endblock %}
                    </h4>
                    <p class="list-group-item-text">
                        {% block blocktitletext %}{% endblock %}
                    </p>
                </a>
                {% block blockcontent %}{% endblock %}
            </div>

            {% block blockcomplementarycontent %}
            {% endblock %}

        </section>
    </div>

{% endblock %}


