{% extends "GameScoreBundle::layout.html.twig" %}

{% block title %}
    Utilisateur : Formulaire - {{ parent() }}
{% endblock %}

{% block rightside %}
    ?
{% endblock %}

{% block mainsection %}
    <h2>Formulaire utilisateur :</h2>

    <div class="well">
        {{ form(form) }}

    </div>

{% endblock %}