{% extends "GameScoreBundle::layout.html.twig" %}

{% block title %}
    Jeu : Formulaire - {{ parent() }}
{% endblock %}

{% block gamescore_body %}
    <h2>Formulaire jeu :</h2>

    <div class="well">
        {{ form(form) }}
    </div>

{% endblock %}

