{% extends "GameScoreBundle::layout.html.twig" %}


{% block title %}
    Games Collection - {{ parent() }}
{% endblock %}

{% block gamescore_body %}
    <h2>Games collection</h2>
    <ul>
    {% for game in gameCollection %}
    <li>{{ game.name }}</li>
    {% endfor %}
    </ul>

{% endblock %}