{% extends "GameScoreBundle::layout.html.twig" %}


{% block title %}
    Game card [{{ game.getId() }}] - {{ parent() }}
{% endblock %}

{% block gamescore_body %}
    <h2>{{ game.name }}</h2>
    <p>{{ game.description }}</p>
    <p>
        {% if game.getIsCollaborative %}
            Collaboratif<br />
        {% endif %}
        {% if game.getIsExtension %}
            Extension<br />
        {% endif %}
        {% if game.getHasInvertedScore %}
            Le plus petit score gagne<br />
        {% endif %}

    </p>
{% endblock %}