{%  extends "GameScoreBundle::layout.html.twig" %}


{% block title %}
    Game card [{{ game_id }}] - {{ parent() }}
{% endblock %}

{% block gamescore_body %}
        <h2>Game card</h2>
        <p>Game description : Description du jeu</p>
{% endblock %}