{% extends "GameScoreBundle::layout.html.twig" %}

{% block title %}
    {{ 'game'|trans|capitalize }} : {{ game.name }} - {{ parent() }}
{% endblock %}

{% block mainsection %}
    <section class="col-md-12">
        {% include 'GameScoreBundle:Game:gameIncluded.html.twig' with {'game' : game } %}
        {% include 'GameScoreBundle:Play:totalPlayedGamesIncluded.html.twig' with {'totalPlayedGames' : totalPlayedGames } %}
        {% include 'GameScoreBundle:Play:topScores.html.twig' with {'topScores' : topScores } %}
        {% include 'GameScoreBundle:Play:playedGamesIncluded.html.twig' with {'plays' : plays } %}
    </section>
{% endblock %}