{% extends "GameScoreBundle::layout.html.twig" %}

{% block title %}
    Game : [{{ game.getId() }}] - {{ parent() }}
{% endblock %}

{% block rightside %}
    Editeurs populaires :
{% endblock %}

{% block mainsection %}
    <section class="col-md-12">
        {% include 'GameScoreBundle:Game:gameIncluded.html.twig' with {'game' : game } %}
        {% include 'GameScoreBundle:Play:playedGamesIncluded.html.twig' with {'plays' : plays } %}
    </section>
{% endblock %}