body {
    background-color: #F7F7F7;
}

.navbar-brand-yellow{
    color: yellow;
}

[class*="col-"], footer {
    background-color: #F2F2F2;
    background-clip: padding-box;
    border: 3px solid transparent;
    border-radius: 7px;
    /*line-height: 40px;*/
    /*text-align: center;*/
    padding: 10px;
}

.jumbotron {
    background-color: #058189;
    /*background-image: url("../img/platjas89.jpg");*/
    color: white;
    text-shadow: 2px 2px #000;
}

.alert {
    position: absolute;
    width: 100%;
}


.alphaBetaBar {
    /*position: absolute;
    /*top: 0;*/
    background: orange;
    width: 100%;
    text-align: center;
    padding: 0.5em;
}

.form-hidden-group {
    display: none;
}