body {
    background-color: #f2f2f2;
}

.navbar-brand-yellow{
    color: yellow;
}
.navbar-brand-cxtext {
    padding-bottom: 15px;
    padding-top: 15px;
    color: #F2F2F2;
}

.jumbotron {
    background-color: #73757B;
    color: black;
}

section {
    background-color: #f7f7f7;
}

/* alert / animation */
.alert {
    position: absolute;
    width: 100%;
    z-index: 1000;
}

.alert-animation {
    animation: cssAnimation 5s forwards;
}
@keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}
@-webkit-keyframes cssAnimation {
    0%   {opacity: 1;}
    90%  {opacity: 1;}
    100% {opacity: 0;}
}

.alphaBetaBar {
    background: #101110 none repeat scroll 0 0;
    color: orange;
    font-size: 0.8em;
    height: 23px;
    padding: 0.5em;
    text-align: center;
    width: 100%;
}

.form-hidden-group {
    display: none;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    background-color: #eee;
}