.jumbotron{
    /*background-color: #058189;*/
    background-image: url("../img/platjas89.jpg");
    color: white;
    text-shadow: 2px 2px #000;
}

.alert {
    position: absolute;
    width:100%;
}
.navbar-inverse{
    color: yellowgreen;
    padding-bottom: 0px;
    margin-bottom: 0px;
    border-radius: 0 0 0 0;
}