{% extends "GameScoreBundle::layout.html.twig" %}

{% block title %}
    Joueur : [{{ player.getId() }}] - {{ parent() }}
{% endblock %}

{% block rightside %}
    ?
{% endblock %}

{% block mainsection %}
    <h2>{{ player.firstname ~ ' ' ~ player.lastname }}
        {% if player.star %}
            &nbsp;&nbsp;&#9733;
        {% endif %}
    [<a href="{{ path('game_score_player_update', {'id':player.id}) }}">Maj</a>] </h2>
    {% include 'GameScoreBundle:Play:totalPlayedGamesIncluded.html.twig' with {'totalPlayedGames' : totalPlayedGames } %}
    {% include 'GameScoreBundle:Play:playedGamesIncluded.html.twig' with {'playedGames' : playedGames } %}
{% endblock %}