{% extends "GameScoreBundle::layout.html.twig" %}

{% block title %}
    Joueur : [{{ player.getId() }}] - {{ parent() }}
{% endblock %}

{% block gamescore_body %}
    <h2>Joueur : {{ player.firstname ~ ' ' ~ player.lastname }}
        {% if player.star %}
            &nbsp;&nbsp;&#9733;
        {% endif %}</h2>
    <p>...</p>

    <p>
        <a href="{{ path('game_score_update_player', {'player_id':player.id}) }}">Maj</a>
    </p>
{% endblock %}