{% extends "GameScoreBundle::general.layout.html.twig" %}

{% block title %}
    Welcome - {{ parent() }}
{% endblock %}

{% block mainsection %}
    <div class="row">
        <div class="col-md-12">
            <h1>Stats GameScore</h1>
            <p>Trend : <a href="{{ path('game_score_stats_trend') }}">Tendance mensuelle des parties disputées</a></p>
            <p>Most Played : <a href="{{ path('game_score_stats_mostplayed') }}">Classement des jeux les plus joués</a></p>
        </div>
    </div>
{% endblock %}
