{% extends "GameScoreBundle::general.layout.html.twig" %}

{% block title %}
    Welcome - {{ parent() }}
{% endblock %}

{% block mainsection %}
    <div class="row">
        <div class="col-md-12">
            <h1>Stats : MostPlayed >Jeux les plus joués</h1>
            <ul>
                {% for game in games %}
                    <li class="list-group-item">
                        {{ game.name }} : {{ game.C }}
                        <div id="square" style="height: 10px; width: {{ game.C * 5 }}px; background: cornflowerblue; "></div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
