{% extends "GameScoreBundle::layout.html.twig" %}

{% block title %}
    Auteurs : Collection - {{ parent() }}
{% endblock %}

{% block gamescore_body %}
    <h2>Formulaire auteurs :</h2>

    <div class="well">
        {{ form(form) }}
    </div>

{% endblock %}

