{% extends "GameScoreBundle::layout.html.twig" %}


{% block title %}
    Auteur : [{{ author.getId() }}] - {{ parent() }}
{% endblock %}

{% block gamescore_body %}
    <h2>Auteur : {{ author.firstname ~ ' ' ~ author.lastname }}</h2>
    <p>...</p>

    <p>
        <a href="{{ path('game_score_update_author', {'author_id':author.id}) }}">Maj</a>
    </p>
{% endblock %}