<ul class="list-group">
    {% for play in plays %}
        {% include 'GameScoreBundle:Play:playedGameIncluded.html.twig' with {'play' : play, 'mode' : 'view'} %}
    {% endfor %}
</ul>

{% if nbOfPage is defined %}
    <ul class="pagination">
        {% for p in range(1, nbOfPages) %}
            <li{% if p == page %} class="active"{% endif %}>
                <a href="#">{{ p }}</a>
            </li>
        {% endfor %}
    </ul>
{% endif %}



