<div class="bs-component">
    {% if topScores %}
        {% for line in topScores %}
            {% if loop.first %}
                <span class="label label-success">
            {% else %}
                <span class="label label-default">
            {% endif %}
            {{ line.player.firstname ~ ' ' ~ line.player.lastname }}&nbsp;<strong>{{ line.score }}</strong></span>
            <br/>
        {% endfor %}
    {% endif %}
</div>
